<div class="column is-3 is-offset-1">
    <h3 class="title is-3 has-text-grey">Categories</h3>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% @categories.each do |c| %>
            <tr>
                <th>
                    <strong><%= link_to c.category, c %></strong>
                </th>

            </tr>
            <% end %>
        </tbody>
    </table>
    <% if current_user && (current_user.has_role? "admin") %>
    <%= link_to 'Add New Category', new_category_path, class:'button is-outlined' %>
    <% end %>
</div>